<app-contact-app></app-contact-app>
<div class="container-fluid">
  <div class="row">
    <div class="col-12 col-md-6">
      <app-contact-add></app-contact-add>
    </div>
    <div class="col-12 col-md-6">
      <app-contact-list></app-contact-list>
    </div>
  </div>
</div>