<div class="item row">
  <div (click)="goDetail(id)" class="contact col-9">
    {{lastNameTxt}}, {{firstNameTxt}}
  </div>
  <div class="col-3">
    <button (click)="removeContact(id)" type="button" class="btn btn-danger">
      <i class="fa fa-trash" aria-hidden="true"></i>
    </button>
  </div>
</div>