<ul class="list-group mt-5">
  <h2>Listado de contactos</h2>
  <div *ngIf="appService.contactList.length > 0">
    <li class="list-group-item" *ngFor="let contact of appService.contactList">
      <app-contact-item [id]="contact.id" [firstNameTxt]="contact.firstName" [lastNameTxt]="contact.lastName"
        (remove)="showConfirm($event)">
      </app-contact-item>
    </li>
  </div>
</ul>

<p-toast position="center" (onClose)="clearMessages()" [modal]="true" [baseZIndex]="5000">
  <ng-template let-message pTemplate="message">
    <div style="text-align: center">
      <i class="pi pi-exclamation-triangle" style="font-size: 3em"></i>
      <h3>{{message.summary}}</h3>
      <p>{{message.detail}}</p>
    </div>
    <div class="ui-g ui-fluid">
      <div class="ui-g-6 text-center">
        <button type="button" class="btn btn-success" (click)="removeContact()">Sí</button>
      </div>
      <div class="ui-g-6 text-center">
        <button type="button" class="btn btn-danger" (click)="clearMessages()">No</button>
      </div>
    </div>
  </ng-template>
</p-toast>