span {
    font-style: italic;
    color: white;
    display: block;
}

.header {
    background-color: lightgrey;
    padding: 10px;
}

.button-back {
    background-color: white;
    border: 1px solid black;
    margin-top: 25px;
}

.div-none {
    display: none;
}