<div class="container-fluid header">
  <div class="row">
    <div [ngClass]="{'isDetailComponent': col-3, '!isDetailComponent': div-none}" class="col-md-3 text-center">
      <button type="button" (click)="back()" class="btn button-back" *ngIf="isDetailComponent">Back</button>
    </div>
    <div [ngClass]="{'isDetailComponent': col-9, '!isDetailComponent': col-12}" class="col-md-6 text-center">
      <h1>Contacts Agenda by <span>{{author}}</span></h1>
    </div>
  </div>
</div>