<p-toast [style]="{marginTop: '40px'}"></p-toast>
<form class="mt-5" [formGroup]="contactForm" (ngSubmit)="saveNewContact()">
  <div class="form-group">
    <label for="firstName">First Name</label>
    <input [ngClass]="{'is-invalid': contactForm.controls.firstName.invalid}" type="text" class="form-control"
      id="firstName" formControlName="firstName" name="firstName" required>
    <div
      *ngIf="contactForm.controls.firstName.invalid && (contactForm.controls.firstName.dirty || contactForm.controls.firstName.touched)"
      class="alert alert-danger">
      <div *ngIf="contactForm.controls.firstName.errors.required">
        Tienes que escribir un nombre
      </div>
    </div>
  </div>
  <div class="form-group">
    <label for="lastName">Last Name</label>
    <input [ngClass]="{'is-invalid': contactForm.controls.lastName.invalid}" type="text" class="form-control"
      id="lastName" formControlName="lastName" name="lastName" required>
    <div
      *ngIf="contactForm.controls.lastName.invalid && (contactForm.controls.lastName.dirty || contactForm.controls.lastName.touched)"
      class="alert alert-danger">
      <div *ngIf="contactForm.controls.lastName.errors.required">
        Tienes que escribir un apellido
      </div>
    </div>
  </div>
  <div class="form-group">
    <label for="phone">Phone number</label>
    <input [ngClass]="{'is-invalid': contactForm.controls.phone.invalid}" type="text" class="form-control" id="phone"
      formControlName="phone" name="phone">
    <div
      *ngIf="contactForm.controls.phone.invalid && (contactForm.controls.phone.dirty || contactForm.controls.phone.touched)"
      class="alert alert-danger">
      <div *ngIf="contactForm.controls.phone.errors.minlength">
        Tienes que escribir al menos 9 números
      </div>
    </div>
  </div>
  <div class="form-group">
    <label for="email">Email</label>
    <input [ngClass]="{'is-invalid': contactForm.controls.email.invalid}" type="text" class="form-control" id="email"
      formControlName="email" name="email">
    <div
      *ngIf="contactForm.controls.email.invalid && (contactForm.controls.email.dirty || contactForm.controls.email.touched)"
      class="alert alert-danger">
      <div *ngIf="contactForm.controls.email.errors.email">
        Tienes que escribir un email válido
      </div>
    </div>
  </div>
  <div class="form-group">
    <label for="adress">Adress</label>
    <input [ngClass]="{'is-invalid': contactForm.controls.adress.invalid}" type="text" class="form-control" id="adress"
      formControlName="adress" name="adress">
  </div>
  <div class="buttons text-right">
    <button type="submit" class="btn btn-success" [disabled]="contactForm.pristine || contactForm.invalid">Save New
      Contact</button>
    <button type="button" class="btn btn-danger" (click)="resetContact()">Cancel</button>
  </div>
</form>