<app-contact-app></app-contact-app>
<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <div class="buttons text-right">
        <button type="button" class="btn btn-danger" (click)="showConfirm()">Delete contact</button>
      </div>
      <form class="mt-5" [formGroup]="contactForm" (ngSubmit)="saveNewContact()">
        <div class="form-group">
          <label for="firstName">First Name</label>
          <input [ngClass]="{'is-invalid': contactForm.controls.firstName.invalid}" type="text"
            class="form-control is-invalid" id="firstName" formControlName="firstName" name="firstName" required>
          <div
            *ngIf="contactForm.controls.firstName.invalid && (contactForm.controls.firstName.dirty || contactForm.controls.firstName.touched)"
            class="alert alert-danger">
            <div *ngIf="contactForm.controls.firstName.errors.required">
              Tienes que escribir un nombre
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="lastName">Last Name</label>
          <input [ngClass]="{'is-invalid': contactForm.controls.lastName.invalid}" type="text" class="form-control"
            id="lastName" formControlName="lastName" name="lastName" required>
          <div
            *ngIf="contactForm.controls.lastName.invalid && (contactForm.controls.lastName.dirty || contactForm.controls.lastName.touched)"
            class="alert alert-danger">
            <div *ngIf="contactForm.controls.lastName.errors.required">
              Tienes que escribir un apellido
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="phone">Phone number</label>
          <input [ngClass]="{'is-invalid': contactForm.controls.phone.invalid}" type="text" class="form-control"
            id="phone" formControlName="phone" name="phone">
          <div
            *ngIf="contactForm.controls.phone.invalid && (contactForm.controls.phone.dirty || contactForm.controls.phone.touched)"
            class="alert alert-danger">
            <div *ngIf="contactForm.controls.phone.errors.minlength">
              Tienes que escribir al menos 9 números
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="email">Email</label>
          <input [ngClass]="{'is-invalid': contactForm.controls.email.invalid}" type="text" class="form-control"
            id="email" formControlName="email" name="email">
          <div
            *ngIf="contactForm.controls.email.invalid && (contactForm.controls.email.dirty || contactForm.controls.email.touched)"
            class="alert alert-danger">
            <div *ngIf="contactForm.controls.email.errors.email">
              Tienes que escribir un email válido
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="adress">Adress</label>
          <input [ngClass]="{'is-invalid': contactForm.controls.adress.invalid}" type="text" class="form-control"
            id="adress" formControlName="adress" name="adress">
        </div>
        <div class="buttons text-right">
          <button type="submit" class="btn btn-success" [disabled]="contactForm.pristine || contactForm.invalid"
            (click)="saveChanges()">Save Changes</button>
          <button type="button" class="btn btn-danger" (click)="cancelChanges()">Cancel Changes</button>
        </div>
      </form>
    </div>
  </div>
</div>

<p-toast position="center" (onClose)="clearMessages()" [modal]="true" [baseZIndex]="5000">
  <ng-template let-message pTemplate="message">
    <div style="text-align: center">
      <i class="pi pi-exclamation-triangle" style="font-size: 3em"></i>
      <h3>{{message.summary}}</h3>
      <p>{{message.detail}}</p>
    </div>
    <div class="ui-g ui-fluid">
      <div class="ui-g-6 text-center">
        <button type="button" class="btn btn-success" (click)="deleteContact()">Sí</button>
      </div>
      <div class="ui-g-6 text-center">
        <button type="button" class="btn btn-danger" (click)="clearMessages()">No</button>
      </div>
    </div>
  </ng-template>
</p-toast>